@import url("../Main/DashResult.module.css");

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.726);
    
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 100;
    background-color: rgb(190, 190, 190);
    width: 40%;
    
    
    
}
.wrap{
    overflow-y: auto;
    /* height: 200px; */
    overflow-x: hidden;
    max-height: 70vh;
}

.closeCont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: .8rem;
}
.closeCont *{
    font-size: 1.5rem;
    cursor: pointer;
}
@media (max-width: 500px) {
    .modal{
        width: 80%;
    }
}
@media (max-width: 900px) {
    .modal{
        width: 70%;
    }
}

.wrap::-webkit-scrollbar {
    width: 10px;
    
    
    
  }
  
  
  .wrap::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    background: rgb(190, 190, 190);
  
  }
  
   
  
  .wrap::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
    /* border-radius: 1rem; */
  }
  
  
  .wrap::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }