.client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    margin: 0 0;
    border-radius: .8rem;
    cursor: pointer;
    /* border: 2px solid red; */
}
.client button{
    cursor: pointer;
}
.client:hover{
    background-color: rgb(190, 190, 190) ;
}



.detailCont{
    padding: 1rem;
}
.detailCont span{
    font-weight: bolder;
}
.detailCont *{
    background-color: teal;
    color: white;
    border-radius: .8rem;
    padding: .3rem;
}
.measurements p{
    
    margin: 0;
    padding: 0;
}
.measurements div{
    word-wrap: break-word;
}
.btn{
    padding: .5rem .9rem;
    background-color: teal;
    border-radius: .7rem;
    color: white;
    border: none;
}
