.dashResCont {
  display: flex;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 50;
}
@media (min-width: 600px) {
  .backdrop {
    display: none;
  }
}
