@import url("./DashResult.module.css");

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.26);
    
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* transform: translateY(-200px); */
    border-radius: 1rem;
    padding: 1rem;
    z-index: 100;
    background-color: white;
    width: 50%;
    max-height: 80vh;
    overflow: auto;
    

}
.closeCont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.closeCont *{
    font-size: 1.5rem;
    cursor: pointer;
}
@media (max-width: 500px) {
    .modal{
        width: 80%;
    }
}